@import "tailwindcss";

*,
*::after,
*::before {
  /* outline: 1px solid red; */
}

.home-header-bg {
  background-image: url("../assets/images/home-hero.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.simple {
  background-color: orange;
}
.rugged {
  background-color: green;
}
.luxury {
  background-color: black;
}
